*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.git/*
.gradle/*
.idea/*
build/*
gradle/*
build.gradle
gradle.properties
gradlew
gradlew.bat
hs_err_pid36384.log
local.properties
replay_pid36384.log
settings.gradle